* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    height: 100vh;
}

.page-container {
    display: flex;
    height: 100vh;
    width: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0E1C5A, #F38D68);
}

.app-container {
    display: grid;
    position: absolute;
    border: none;
    border-radius: 36px;
    width: 30vw;
    height: 50vh;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    grid-template-rows: 1fr 1fr 3fr;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-title {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #0E1C5A;
}

.search-field-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: auto;
}

.search-field {
    display: flex;
    position: relative;
    width: 26vw;
    height: 6vh;
    grid-template-columns: 6fr 1fr;
}

.search-field > input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 36px;
    background-color: #f0f0f0;
    padding-left: 24px;
    padding-right: 5vw;
    color: #676b6e;
    font-weight: 600;
    font-family: Georgia, Times, "Times New Roman", serif;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.search-button {
    display: flex;
    position: absolute;
    right: 0;
    width: 5vw;
    height: 100%;
    background-color: #F38D68;
    border-radius: 36px;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    font-size: 18px;
    font-weight: 600;
    font-family: Georgia, Times, "Times New Roman", serif;
    cursor: pointer;
}

.scrollable-task-container {
    display: grid;
    max-height: auto; 
    overflow-y: auto; 
}

.task-container {
    display: grid;
    row-gap: 1vh;
    align-items: center;
    grid-template-rows: repeat(4, 6vh);
}


.task {
    display: flex;
    height: 6vh;
    align-items: center;
}

.task-radio-button {
    display: flex;
    border: 3px solid #E0E0E0;
    border-radius: 50%;
    width: 1.5vw;
    aspect-ratio: 1 / 1;
    margin-left: 2vw;
    cursor: pointer;
}

.task-text {
    display: flex;
    align-items: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    padding-left: 0.75vw;
    overflow: hidden;
    font-weight: 600;
    color: #676b6e;
    margin-right: 0.5vw;
    white-space: nowrap;
    width: 23vw;
}

.tooltip {
    visibility: hidden;
    width: 30vw; 
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: #fff;
    color: #676b6e;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 999;
    bottom: 125%; 
    opacity: 0; 
    transition: opacity 0.3s;
}

.task:hover .tooltip {
    visibility: visible; 
    opacity: 1; 
}

.task-delete-button {
    display: flex;
    width: 1.5vw;
    aspect-ratio: 1 / 1;
    background-image: url('./resources/Krestiksvgpng.ru_.png'); 
    background-repeat: no-repeat;
    cursor: pointer;
}

@media (min-width: 1025px) and (max-width: 1296px) {
    .app-container {
        width: 50vw; 
    }

    .search-field-container {
        width: 50vw;
    }

    .search-field {
        width: 43vw;
    }

    .search-button {
        width: 8vw;
    }

    .task-radio-button {
        margin-left: 3.5vw;
        width: 2vw;
    }

    .task-text {
        width: 38.5vw;
    }

    .task-delete-button {
        width: 2vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .app-container {
        width: 70vw; 
        height: 80vh;
    }

    .search-field-container {
        width: 70vw;
    }

    .search-field {
        width: 60vw;
    }

    .search-button {
        width: 12vw;
    }

    .task-container {
        grid-template-rows: repeat(6, 6vh);
    }

    .task-radio-button {
        margin-left: 5vw;
        width: 2.5vw;
    }

    .task-text {
        width: 56vw;
    }

    .task-delete-button {
        width: 2.5vw;
    }

    .task:hover .tooltip {
        visibility: hidden; 
    }
}

